.container {
  display: grid;
  grid-template-columns: repeat(
    5,
    1fr
  ); /* Creates 5 columns with equal width */
  grid-template-rows: repeat(4, 1fr);
  height: 600px;
  width: 1000px;
  background-color: gray;
  margin: 0%;
}

.div-shadow {
  width: 5em;
  height: 5em;
  background-color: aliceblue;
  border: 1px solid black;
  margin: 0%;
}
